.riverCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-left: 150px;
    margin-right: 150px;
}

.riverDetails {
    display: flex;
    /* border: solid black; */
    width: 600px;
    flex-direction: column;
    align-items: center;
}

.chatPost {
    margin-bottom: 65px;
}
img {
    height: 300px;
    width: 400px;
}

h2 {
    margin-top: 80px;
    margin-left: 30px;
}

.post {
    margin-top: 40px;
    margin-left: 70px;
}

/* .chatPost {
    border: dotted black;
} */

.btn-post {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.chatComment {
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    margin-left: 80px;
}


/* .deleteButton {
    background-color: darkorange;
}

.formButtons {
    background-color: darkorange;
} */